.container {
    padding: 20px;
  }
  
  .goalItem {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .goalText {
    margin: 5px 0;
  }
  
  .input {
    margin-right: 10px;
  }
  
  .imageGallery {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .uploadContainer {
    margin-bottom: 20px;
  }
  
  .uploadContainer input[type="file"] {
    margin-right: 10px; /* Adjust spacing */
  }
  
  .goalImage {
    max-width: 100%; /* Ensure image fits container width */
    height: auto; /* Maintain aspect ratio */
    cursor: pointer; /* Change cursor to pointer on hover */
  }
  
  .imageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .imageWrapper {
    width: 100%; /* Ensure image fits within container */
    margin-bottom: 10px; /* Adjust spacing */
  }
  
  .imageNavigation {
    display: flex;
    justify-content: center;
  }
  
  .imageNavigation button {
    margin: 0 5px; /* Adjust spacing between navigation buttons */
    background-color: #f0f0f0; /* Background color */
    border: none;
    padding: 5px 10px; /* Adjust button padding */
    cursor: pointer; /* Change cursor to pointer on hover */
  }
  
  .imageNavigation button:hover {
    background-color: #e0e0e0; /* Darker background color on hover */
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modalImage {
    max-width: 90%;
    max-height: 90%;
  }
  
  .modalText {
    margin: 0;
    color: #ccc;
  }
  