 
.create-challenge {
  width: 100%;
  max-width: calc(100% - 6px);;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  color: #333;
  font-size: 1.1em;
}

.input-group input,
.input-group select,
.input-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  box-sizing: border-box; /* Ensure padding and border are included in the width */
}

.input-group textarea {
  resize: vertical;
  min-height: 100px;
}

.invite-group {
  background-color: #f4f4f9;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.invite-group h3,
.invite-group h4 {
  color: #333;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.invite-group input[type='text'] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
  margin-bottom: 10px;
  box-sizing: border-box;
}
.input-group button {
  background-color: #007bff;
  color: white;
  align-content: center;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.invite-group ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.invite-group ul li {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 5px;
  background-color: #fff;
}

.invite-group ul li:hover {
  background-color: #f0f0f0;
}

.ongoing-challenges {
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.ongoing-challenges h3 {
  color: #333;
  font-size: 1.8em;
  margin-bottom: 15px;
}

.ongoing-challenges ul {
  list-style-type: none;
  padding: 0;
}

.ongoing-challenges ul li {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: box-shadow 0.3s, transform 0.3s;
  cursor: pointer;
}

.ongoing-challenges ul li:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-3px);
}

.ongoing-challenges ul li strong {
  font-size: 1.3em;
  color: #333;
  display: block;
  margin-bottom: 10px;
}

.ongoing-challenges ul li p {
  color: #666;
  font-size: 1.1em;
  margin-bottom: 5px;
}

.ongoing-challenges ul li button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.ongoing-challenges ul li button:hover {
  background-color: #0056b3;
}
