.container {
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: left; /* Align text to the left */
  margin-bottom: 20px;
  font-size: 2em; /* Slightly reduce font size */
  color: #333;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
  margin-bottom: 20px;
  background-color: #f4f4f9;
  padding: 15px; /* Reduce padding */
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 50%; /* Make the container full width */
}

.input-container input, .input-container select {
  width: 100%;
  max-width: 300px; /* Reduce max width */
  padding: 10px; /* Reduce padding */
  margin: 5px 0; /* Reduce margin */
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1em;
}

.input-container a {
  width: auto; /* Remove width and max-width */
  padding: 0; /* Remove padding */
  border-radius: 0; /* Remove border radius */
  border: none;
  background: none; /* Remove background */
  color: blue; /* Set color to blue */
  font-size: inherit; /* Inherit font size */
  cursor: pointer;
  margin-top: 10px;
  text-align: left; /* Align text to the left */
  text-decoration: underline; /* Add underline */
}

.input-container a:hover {
  background-color: transparent; /* Remove background color on hover */
}


.input-container button {
  width: 100%;
  max-width: 300px; /* Reduce max width */
  padding: 10px; /* Reduce padding */
  border-radius: 5px;
  border: none;
  background-color: #28a745;
  color: white;
  font-size: 1em; /* Reduce font size */
  cursor: pointer;
  margin-top: 10px;
}

.input-container button:hover {
  background-color: #218838;
}

.goal-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Align items to the left */
  margin-top: 20px; /* Add some margin to separate from inputs */
}

.goal-box {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 10px;
  width: calc(50% - 20px); /* Increase width */
  background-color: #fff;
  transition: transform 0.2s, box-shadow 0.2s;
}

.goal-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.goal-link {
  text-decoration: none;
  color: inherit;
}

.goal-link h3 {
  margin-bottom: 10px;
  color: #333;
  font-size: 1.2em; /* Increase font size */
}

.goal-link p {
  margin-bottom: 10px;
  color: #666;
  font-size: 1em;
}

p {
  text-align: left; /* Align text to the left */
  color: #555;
  font-size: 1em; /* Reduce font size */
}
