.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.progress-board {
  display: grid;
  gap: 20px;
}

.progress-update-box {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.user-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.user-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
}

.username {
  font-weight: bold;
}

.action-description {
  margin-bottom: 10px;
}

.action-image {
  text-align: center;
  margin-bottom: 10px;
}

.action-img {
  max-width: 100%;
  height: auto;
  cursor: pointer;
  border-radius: 8px;
}

.progress-update-buttons {
  margin-top: 10px;
}

.tips-section {
  margin-top: 10px;
}

.tip-box {
  margin-top: 5px;
  padding: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.tips-input {
  margin-top: 10px;
}

button {
  padding: 8px 16px;
  margin-right: 10px;
  cursor: pointer;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
}

.modal-title {
  font-size: 20px;
  margin-bottom: 16px;
}

.modal-input {
  margin-bottom: 16px;
}

.modal-input label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.modal-input input,
.modal-input select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.modal-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.modal-button:hover {
  background-color: #0056b3;
}

.modal-close {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ccc;
  color: #333;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 8px;
  transition: background-color 0.3s;
}

.modal-close:hover {
  background-color: #999;
}

  