.goal-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 20px;
}

.goal-box {
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  /* Full width for small screens */
  max-width: 500px;
  /* Max width to control box size */
  box-sizing: border-box;
  background-color: #f9f9f9;
  transition: transform 0.2s;
}

.goal-image {
  max-width: 100%;
  height: auto;
}

.goal-box:hover {
  transform: translateY(-5px);
}

.goal-box h2,
.goal-box p {
  margin: 8px 0;
}

.goal-link {
  text-decoration: none;
  color: inherit;
}

.goal-link:hover {
  text-decoration: underline;
}

#sort-select {
  appearance: none; /* Hide default appearance */
  padding: 6px 8px; /* Add padding for better readability */
  font-size: 14px; /* Adjust font size */
  border: 1px solid #ccc; /* Add border */
  border-radius: 4px; /* Add border radius */
  background-color: #fff; /* Set background color */
  cursor: pointer; /* Show pointer cursor on hover */
  margin-bottom: 10px;
}

#sort-select:hover {
  background-color: #f0f0f0; /* Change background color on hover */
}

#sort-select:focus {
  outline: none; /* Remove default focus outline */
  border-color: #007bff; /* Change border color on focus */
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25); /* Add focus shadow */
}


.sort-button {
  background: none;
  border: none;
  cursor: pointer;
}

.randomize-icon{
  width: 24px;  
  height: 24px;
  position: relative; 
  top: 6px;
}

.sort-icon {
  width: 20px;  
  height: 20px;
  position: relative; 
  top: 3px;
}

.cost-filter {
  display: flex;
  align-items: center;
  gap: 10px; /* Add space between elements */
  margin-bottom: 10px;
}

.cost-filter label {
  margin-right: 5px; /* Add space between label and input */
}

.cost-filter input {
  width: 50px; /* Adjust the width of the input fields */
  padding: 1px;
  box-sizing: border-box;
}

.search-filter {
  display: flex;
  align-items: center;
  gap: 10px; /* Add space between elements */
  margin-bottom: 10px;
}

 